
@media (max-width: 648px) {

  section.header img{
    width: 90%;
    float:none;
  }
  section.header .content{
    width:90%;
  }
  .social{
    float:none;
  }
}


head, body{
  width:100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  flex:1;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.header h2{
  font-size: 20px;
}
.header a{
  color : white;
}

.header{
  background-color: #ED4514;
  padding :0px;
}
.buttons{
  margin-top: 30px;
  width: 95%;
}
section.header p,h1.white,h2.white{
  color: white;
}
.social a{
  color: white;
  font-size: 34px;
  margin: 0px;
  padding: 0px;
}
.social{
  float:right;
  margin-top:-10px;
}

.header img {
  display:inline-block;
  vertical-align: middle;;
  width: 40%;
  margin: 30px
}
.header .content{
  display: inline-block;
  vertical-align: middle;;
  width: 50%;
  box-sizing: border-box;
  padding: 0px 0px 0px 40px;
}

a.button{
  background-color: white;
  color: #ea4624;
  border-radius: 3px;
  box-sizing: border-box;
  padding:10px 20px;
  text-align:center;
}
section.main h1,h2{
  color: #ea4624;
  margin: 40px 0px;
}
section{
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding:0 10%;
  margin:0px;
}
.sponsors img{
  width: 200px;
  margin-bottom : 40px;
}
